/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FFC100;
  --danger-color: #C40C0C;
  --danger-color-hover: #800000;
  --secondary-color: #fff5e1;
  --dark-color: #343131;
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--danger-color);
  padding: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dw5wzp49b/image/upload/v1727878810/w16fww3uxkd25m48jyqh.jpg");
}
/* Typography */
h1 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Section container */
.section-container {
  height: auto;
  display: none;
  background-color: var(--primary-color);
  padding: 20px;
  border: 2px solid var(--danger-color);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: max-height 0.5s ease;
}

.section-title {
  color: var(--second-color);
  font-size: 1.8rem;
  margin-bottom: 10px;
  overflow: hidden; 
}

.hint-container {
  background-color: var(--secondary-color);
  border-left: 4px solid var(--danger-color);
  padding: 10px;
  margin-bottom: 15px;
}

.hint {
  font-size: 1rem;
  color: var(--dark-color);
}

.btn {
  background-color: var(--danger-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--danger-color-hover);
}

.answer-container {
  /* display: none;
  margin-top: 15px;
  transition:2s ease;  */
  margin-top: 10px;
  max-height: 0; 
  opacity: 0; 
  visibility: hidden; 
  transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

.answer-container.show {
  /* display: block; */
  max-height: 500px;
  visibility: visible;
  opacity: 1;
}


.answer-container p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--dark-color);
}

.answer-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 2px solid var(--danger-color-hover);
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.container::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.section-container {
  width: 480px;
}

/* Responsive design */
@media (nax-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
